*{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    min-height: 91vh;
    padding-bottom: 100px;
}
h2{
    letter-spacing: 2px;
}
.resultJobs{
    width: 60% ;
    margin: 50px auto 0 auto;
}
a{
    color: black;
}
textarea {
    resize: none;
}
/* ACCUEIL */
hr{
    margin-top: 25px;
    margin-bottom: 25px;
}

#boAcc{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0;
    margin: 50px auto 0 auto;
}


#indLeft{
    width: 78%;
    padding: 2%;
}
#indRight{
    padding-top: 65px;
    width: 18%;
}
#indRight button{
    padding: 10px 25px 10px 25px;
}
#listeJobs{
    margin-top: 30px;
}

h1{
    font-size: 3rem;
}
footer{
    background-color: grey;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
nav{
    text-align: center;
}
nav a{
    margin-right: 100px;
}
/* Template responsiv */
@media screen and (max-width: 640px){
    #boAcc{
        width: 100%;
    }
    #indLeft{
        width: 100%!important;
    }
    #indRight{
        width: 100%!important;
        text-align: center;
    }
    #formPartn{
        margin: 25px auto 0 auto;
    }
}
/* searchBar */
.fakeInputText{
    display: flex;
    width: 40%;
    border: solid 1px black;
    padding: 5px;
}
.fakeInputText input[type='text']{
    width: 90%;
    border: none;
    outline: none;
}
.fakeInputText input[type='reset']{
    border: 1px solid grey;
    border-radius: 50%;
    outline: none;
}
.loupeImg{
    width: 20px;
    height: 20px;
}

/* CARDS */
.jobCard{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 10px;
    transition: background-color .2s linear;
}
.jobCard img{
    width: 100px;
    height: 100px;
}
.txtCard{
    margin-left: 20%;
}
.denom{
    font-size: 1.6rem;
}

.jobCard:hover{
    background-color: rgb(231, 231, 231);
}
/* PAGE JOB INDIVIDUEL */

.enteteJob{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.zoneText{
    width: 85%;
}
.zoneImg{
    width: 10%;
}
.zoneImg img{
    width: 100%;
    height: auto;
}

/* PAGE FORMULAIRE */
form{
    width: 80%;
    max-width: 400px ;
}
form p{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.datesJob{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 20px 25px 20px;
    width: 80%;
    background-color: rgb(240, 240, 240);
}

/*  Connection */
#loginForm{
    margin-top: 25px;
    border: 1px solid black;
    padding: 0 15px 50px 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
#loginForm div{
    text-align: center;
}
#loginForm div input[type='text'],input[type='password']{
    width: 100%;
    margin-bottom: 15px;
}
.alert{
    color: red;
}

/* Partenaires */
#formPartn{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 1px black solid;
    padding: 0 0 30px 0;
    margin-top: 25px;
}
#formPartn input[type='text'], input[type='mail']{
    width: 80%;
    margin-bottom: 15px;
}
#formPartn input[type='submit']{
    width: 30%;
}

/* Error */
#boxError{
    margin-top: 25px;
    padding: 25px;
    background-color: rgb(255, 180, 180);
    text-align: center;
    border: 1px solid black;
}